Repository RoBorregos/home2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RoBorregos/home-integracion, @RoBorregos/home-vision, @RoBorregos/home-nav, @RoBorregos/home-manipulacion, @RoBorregos/home-hri, @RoBorregos/home-mecanica

.github/CODEOWNERS:

/.github/ @RoBorregos/home-integracion

# Docker

/docker/vision/ @RoBorregos/home-vision
/docker/navigation/ @RoBorregos/home-nav
/docker/manipulation/ @RoBorregos/home-manipulacion
/docker/hri/ @RoBorregos/home-hri

# ROS packages

/frida_interfaces/ @RoBorregos/home-integracion
/frida_constants/ @RoBorregos/home-integracion

/hri/ @RoBorregos/home-hri
/navigation/ @RoBorregos/home-nav
/robot_description/ @RoBorregos/home-mecanica
/task_manager/ @RoBorregos/home-integracion
/vision/ @RoBorregos/home-vision
/manipulation/ @RoBorregos/home-manipulacion

. (#249)
  compile.sh
  manipulation/packages/arm_pkg/package.xml
  manipulation/packages/place/package.xml
  vision/packages/object_detector_2d/package.xml
Owners: @RoBorregos/home-manipulacion, @RoBorregos/home-vision

. (#249)
  compile.sh
  manipulation/packages/arm_pkg/package.xml
  manipulation/packages/place/package.xml
  vision/packages/object_detector_2d/package.xml
Owners: @RoBorregos/home-manipulacion, @RoBorregos/home-vision

Update task_manager/scripts/help_me_carry.py
  task_manager/scripts/help_me_carry.py
Owners: @RoBorregos/home-integracion

Integration of help me carry task manager initial order into main branch (#248)
  task_manager/scripts/help_me_carry.py
Owners: @RoBorregos/home-integracion

Integration of help me carry task manager initial order into main branch (#248)
  task_manager/scripts/help_me_carry.py
Owners: @RoBorregos/home-integracion

l4t
  docker/integration/zed.yml
Owners: none

add run
  docker/integration/zed.yml
Owners: none

add zed to run
  run.sh
Owners: none

ups
  run.sh
Owners: none
